In [2]:
#import statements
from pydataset import data
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

initiated datasets repo at: /home/tarnished-dan22/.pydataset/

In [3]:
# Get the data
titanic = data('titanic')
titanic.sample(5)

         class     age  sex survived
985  3rd class  adults  man       no
477  2nd class  adults  man       no
691  3rd class  adults  man       no
751  3rd class  adults  man       no
592  2nd class   child  man      yes

In [4]:
# Feature Engineering (one hot encoding)
titanic = pd.get_dummies(titanic, drop_first = True)
titanic.sample(5)

      class_2nd class  class_3rd class  age_child  sex_women  survived_yes
213                 0                0          0          1             1
915                 0                1          0          0             0
182                 0                0          0          1             1
629                 0                1          0          0             1
1139                0                1          0          1             1

In [9]:
#test train split
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis =1), titanic['survived_yes'])

In [15]:
# train the model
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

LogisticRegression()

In [16]:
# predict if a class-1 child-age gilr survived
LogReg.predict(np.array([[0,0,1,1]]))[0]

/home/tarnished-dan22/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1